apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ nad_name }}
  namespace: {{ nad_namespace }}
spec:
  config: '{
      "cniVersion": "{{ nad_cni_version }}",
      "type": "{{ nad_cni_type }}" {{ ", " if nad_cni_configs.keys() | length > 0 else "" }}
      {% for config in nad_cni_configs.keys() -%}
      "{{ config }}": {{ nad_cni_configs[config] |to_json if (nad_cni_configs[config] | type_debug == "dict") else '"' + nad_cni_configs[config] + '"' }}{{ ", " if not loop.last else "" }}
      {% endfor %}
    }'

