{
  "socket_file": "{{ ovs_cni_socket_path }}",
  "link_state_check_retries": {{ ovs_cni_link_state_check_retries | int }},
  "link_state_check_interval": {{ ovs_cni_link_state_check_interval | int }}
}
